{% if app.security.isGranted( 'ROLE_ADMIN' ) %}
<div id="save_editor" class="btn-group five_edit_bar" style="padding:10px;width:100%;height:50px;position:fixed;bottom:0;background:rgba(52, 56, 56,0.8);;">
<!--         <button class="button-menu-mobile open-left">        
            <img src="http://www.five.ca/bundles/fivesite/images/logos/five.png" class="img-responsive" />
        </button> -->
    <button id="save_edit" class="btn teal" onclick="javascript:saveAllEditors();" style="float:left;display:block;">
        <i class="glyphicon glyphicon-save"></i>Sauvegardé
    </button>
    &nbsp;
<!--     <button id="clear_cache" class="btn btn-primary" onclick="javascript:clearCacheTranslations();">
        <span class="glyphicon glyphicon-refresh"></span>&nbsp;Clear cache
    </button> -->
    
<!--         <button class="btn btn-primary" style="margin-left:25px;" data-toggle="modal" data-target="#fiveSeoEditModal"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Edit SEO
        </button> -->
        {# &nbsp;&nbsp;<span style="color:#ffffff;">|</span>&nbsp;&nbsp; 
margin-bottom:15px;margin-left:300px;
        #}
        <a href="/logout" style="float:right;display:block;"><button class="btn btn-default" >&nbsp;Déconnexion Administration</button></a>    
    
</div>
<script>
CKEDITOR.dtd.$editable.span = 1;
CKEDITOR.dtd.$editable.a = 1;
CKEDITOR.dtd.$editable.strong = 1;

//CKEDITOR.dtd.$nonBodyContent = 0;
//CKEDITOR.dtd.$removeEmpty.span = 0;
//CKEDITOR.dtd.$removeEmpty.a = 0;
    var clearCacheTranslations = function()
    {
        var url = '';//;

        $.ajax( {
            type: "GET",
            url: url,
            error: function( result, txt )
            {            

            },
            success: function( result ){

            },   
            dataType: 'json'
        } );         
    }

    var checkEditors = function( evt )
    {
        var editors = CKEDITOR.instances;
        for( var key in editors )
        {
            if( !_.isUndefined( key ) && !_.isUndefined( editors[ key ] ) )
            {
                console.log( 'IsDirty?', editors[ key ].checkDirty(), key );
            }

        }
    }

    var verifyIfChanges = function( evt )
    {
        var editors = CKEDITOR.instances;
        var changes = false;
        for( var key in editors )
        {
            if( !_.isUndefined( key ) && !_.isUndefined( editors[ key ] ) )
            {
                if( editors[ key ].checkDirty() )
                {
                    //console.log( editors[ key ], editors[ key ].checkDirty() );
                    changes = true;
                }
                else
                {
                    editors[ key ].resetDirty();
                }
            }
        }

        if( changes )
        {
            $( '#save_edit' ).removeClass( 'btn-success' ).removeClass( 'btn-warning' ).addClass( 'btn-warning' ).text( 'Sauvegerder les modifications' );
        }
        else
        {
            $( '#save_edit' ).removeClass( 'btn-warning' ).removeClass( 'btn-success' ).addClass( 'btn-success' ).text( 'Sauvegardé' );
        }
    }

    var saveAllEditors = function( evt )
    {
        var editors = CKEDITOR.instances;
        for( var key in editors )
        {
            if( !_.isUndefined( key ) && !_.isUndefined( editors[ key ] ) )
            {
                if( editors[ key ].checkDirty() )
                {
                    editors[ key ].resetDirty() 
                    var data = { value : editors[ key ].getData() };
                    var elm = editors[ key ].element.$;
                    var url = $( elm ).data( 'url' );
        var iconReset   = '<i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;&nbsp;';
        var iconUpdated = '<i class="glyphicon glyphicon-floppy-saved"></i>&nbsp;&nbsp;';
        $( '#five_seo_submit' ).prepend( iconReset );

        $( '#fiveSeoEditForm' ).on( 'submit', function( evt )
        {
            evt.preventDefault();
            var btn = $( '#fiveSeoEditForm' ).find( '#five_seo_submit' );
            btn.button( 'loading' );

                    $.ajax( {
                        type: "POST",
                        url: $( '#fiveSeoEditForm' ).attr( 'action' ) ,
                        data: $( '#fiveSeoEditForm' ).serialize(),
                        error: function( result, txt )
                        {            

                        },
                        success: function( result ){
                            
                            //console.log( result );
                            btn.button( 'complete' );
                            btn.prepend( iconUpdated );
                            window.setTimeout( function(){
                                $( '#five_seo_submit' ).button( 'reset' );
                                //.append( iconReset );
                            }, 5000 );
                        
                        },   
                        dataType: 'json'
                    } );            
        } );
                    $.ajax( {
                        type: "POST",
                        url: url,
                        data: data,
                        error: function( result, txt )
                        {            

                        },
                        success: function( result ){
                            
                            console.log( result );
                            editors[ key ].resetDirty();
                            
                            editors[ key ].resetDirty();
                        },   
                        dataType: 'json'
                    } ); 
                }
                //console.log( 'IsDirty?', editors[ key ].checkDirty(), key );
            }

        }
        $( '#save_edit' ).removeClass( 'btn-warning' ).removeClass( 'btn-success' ).addClass( 'btn-success' ).text( 'Saved' );
    }    

        var intervalTimer = null;
        var config = {};
        $( document ).ready( function()
        {
            intervalTimer = window.setInterval( verifyIfChanges, 500 );

            config.allowedContent = true;
            config.extraPlugins = 'autogrow'; //['autogrow', 'image'];
            config.autoGrow_onStartup = true;
            config.autoGrow_minHeight = 30;
            config.toolbarCanCollapse = true;
            config.enterMode = CKEDITOR.ENTER_BR;
            config.forcePasteAsPlainText = true;
            //config.inline = true;
    
            config.toolbarGroups = [
                { name: 'clipboard',   groups: [ 'clipboard', 'undo' ] },
                { name: 'links' },
                { name: 'tools' },
                '/',
                { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
                { name: 'paragraph',   groups: [ 'list', 'indent', 'blocks', 'align' ] },
                { name: 'colors' },

            ];

            $( '[data-five-edit]' ).attr( 'contenteditable','true' ).ckeditor(config);


        } );

</script>
{% endif %}