
/* 
    Created on : 15-May-2014, 9:51:44 AM
    Author     : enrique
*/
@import "bootstrap/mixins";
@import "bootstrap/variables";
@import "five-variables";

.entreprise {
  #entreprise-intro {
    padding-top: $menu-height;
    background-image: url('../img/entreprise-1.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -ms-behavior: url(/backgroundsize.min.htc);
    .float-block {
      float: right;
      margin-top: 70px;
    }
    h2 {
      font-size: 36px;
      padding: 40px 45px;
      margin: 70px 40px;
      background-color: #ffffff;
      @include box-shadow(0px 0px 35px 0 rgba(50, 50, 50, 0.75));
      text-transform: uppercase;
      .green-text {
        color: $brand-primary;
      }
    }/*h2 {
      font-size: 50px;
      padding: 25px 50px;
      margin: 130px 40px;
      background-color: #ffffff;
      @include box-shadow(0px 0px 35px 0 rgba(50, 50, 50, 0.75));
      text-transform: uppercase;
    }*/
  }
  #statistiques {
    padding: 100px 0;
    h3 {
      &:first-child {
        margin-top: 0;
      }
    }
    .values {
      font-family: $cvSemiBold;
      font-size: 22px;
      text-transform: uppercase;
      line-height: 1.5em;
    }
    @media screen and ( max-width: $container-tablet ) {
      text-align: center;
    }
  }
  #service {
    position: relative;
    background-color: #f5f3f2;
    padding: 80px 0;
    margin-bottom: 20px;
    .image-holder {
      position: absolute;
      left: 55%;
      width: 45%;
      background-image: url('../img/entreprise-service.jpg');
      background-size: auto 100%;
      background-position: center center;
      -ms-behavior: url(/backgroundsize.min.htc);
    }
    @media screen and ( max-width: $container-tablet ) {
      text-align: center;
    }
  }
  #location {
    padding: 150px 0;
    .title-container {
      text-align: center;
      padding: 0 0 80px;
      h2 {
        text-transform: uppercase;
        color: #ffffff;
        background-color: $brand-primary;
        line-height: 1em;
        padding: 14px 0 6px;
      }
    }
    .lines-container {
      background-image: url('../img/lines.png');
      background-size: 75% 146px;
      background-repeat: no-repeat;
      background-position: center center;
      -ms-behavior: url(/backgroundsize.min.htc);
      height: 146px;
      padding: 15px 0 25px;
    }
    .location-items {
      > div {
        text-align: center;
        h4 {
          margin-bottom: 35px;
        }
        p {
          margin-top: 25px;
          padding: 0 30px;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  #history {
    background-color: $brand-primary;
    padding: 0 0 10px;
    overflow: hidden;
    height: 195px;
    margin-bottom: 20px;
    > .container-fluid {
      height: 100%;
      overflow: hidden;
      > .row {
        height: 100%;
      }
    }
    @include transition(height 2s);
    .history-text {
      position: relative;
      background-color: #403e3c;
      padding: 30px 70px;
      color: #ffffff;
      h2 {
        font-family: $cvLight;
        font-size: 55px;
        background-image: url('../img/big-plus-green.png');
        background-repeat: no-repeat;
        background-position: right 20px;
        -ms-behavior: url(/backgroundsize.min.htc);
        cursor: pointer;
        margin-bottom: 30px;
        @media (max-width: 960px) {
          font-size: 36px;
          background-position: right 0;
        }
      }
      
    }
    &.opened {
      height: 500px;
      h2 {
        background-image: url('../img/big-minus-green.png');
      }
    }
    .history-image {
      height: 100%;
      background-image: url('../img/history.jpg');
      background-size: cover;
      background-position: center center;
      -ms-behavior: url(/backgroundsize.min.htc);
    }
  }
}
@media (max-width: $screen-sm-max) {
  .entreprise {
    #statistiques {
      img {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
      }
    }
  }
}
@media (max-width: $screen-xs-max) {
  .entreprise {
    #entreprise-intro {
      h2 {
        font-size: 20px;
        padding: 30px;
      }
    }
    #statistiques {
      img {
        width: 100%;
        height: auto;
        margin-bottom: 30px;
      }
    }
    #service {
      .image-holder {
        display: none;
      }
    }
    #location {
      .title-container {
        h2 {
          font-size: 24px;
        }
      }
      .lines-container {
        display: none;
      }
    }
    #history {
      height: auto;
      .history-text {
        padding: 24px;
        h2 {
          font-size: 30px;
        }
      }
      &.opened {
        height: auto;
      }
    }
  }
}
