/* 
    Created on : 15-May-2014, 11:49:04 AM
    Author     : enrique
*/
@import "bootstrap/mixins";
@import "bootstrap/variables";
@import "five-variables"; 

.home {
  display: none;
  h1, h2, h3, h4,h5, p {
    text-align: center;
  }
  .navbar-fixed-top {
    height: $menu-height;
    margin-top: -$menu-height;
    z-index: -1;
    overflow:hidden;
    .navbar-brand {
      height: $menu-height;
      img {
        height: $menu-height;
      }
    }
    &.navbar-visible {
      margin-top: 0;
      z-index: 10;
      overflow: visible;
    }
  }
}
#home-intro {
  position: relative;
  @include box-sizing(border-box);
  width: 100%;
  // padding-top: 200px;
  .container {
    position: relative;
    height: 100%;
    min-width: 100%;
  }
  .video-placeholder {
    position: absolute;
    bottom: 0px; 
    right: 0px; 
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto; 
    z-index: -1000; 
    overflow: hidden;
    display: none;
  }
  video {
    //display: none;
    position: absolute;
    bottom: 0px; 
    right: 0px; 
    min-width: 100%; 
    min-height: 100%; 
    width: auto; 
    height: auto; 
    z-index: -1000; 
    overflow: hidden
  }
  .home-logo {
    position: absolute;
    top: 0;
    left: 0;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  h2 {
    font-family: $cvThin;
    font-size: 66px;
    text-transform: uppercase;
    margin: 10% 0 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
    @include opacity(0);
    @include transition-property(opacity, margin-top);
    @include transition-duration(1000ms, 1000ms);
    @include transition-delay(0ms 0ms);
    &.ready {
      @include opacity(1); 
      margin-top: 20%;
    }
  }
  h1 {
    font-family: 'Times New Roman';
    font-size: 30px;
    //margin: -60px 0 0;
    margin: -10px 0 0;
    width: 100%;
    text-align: center;
    font-style: italic;
    font-weight: normal;
    color: $brand-primary;
    @include opacity(0);
    //@include transition-property(opacity, margin-top);
    //@include transition-duration(1000ms, 1000ms);
    //@include transition-delay(500ms 500ms);
    @include transition-property(opacity);
    @include transition-duration(1000ms);
    @include transition-delay(500ms);
    &.ready {
      @include opacity(1); 
      //margin-top: -10px;
    }
  }
  .menu-video {
    position: absolute;
    list-style: none;
    top: 50%;
    width: 100%;
    left: 0;
    height: 60px;
    padding: 0;
    margin: 0 auto;
    @include opacity(0);
    @include transition-property(opacity, top);
    @include transition-duration(1000ms, 1000ms);
    @include transition-delay(500ms 500ms);
    &.ready {
      @include opacity(1);
      top: 60%;
    }
    @media screen and (min-width: $container-large-desktop) {
      width: 80%;
      left: 10%;
    }
    li {
      float: left;
      width: 16%;
      display: block;
      height: 60px;
      overflow: visible;
      text-align: center;
      a {
        font-family: $cvThin;
        font-size: 22px;
        color: #ffffff;
        height: 50px;
        padding-bottom: 25px;
        border-bottom: 2px solid $brand-primary;
        @include transition(all, 100ms);
        &:hover {
          padding-bottom: 20px;
          border-bottom: 7px solid $brand-primary;
        }
      }
    }
  }
  .scroll-down {
    text-align: center;
    width: 150px;
    height: 110px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    bottom: 5%;
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: #ffffff;
      .img-placeholder {
        position: absolute;
        width: 100%;
        height: 75px;
        background-image: url('#{$imagesPath}go-down.png');
        background-repeat: no-repeat;
        background-position: center top;
        top: 10px;
        @include transition-property(top);
        @include transition-duration(500ms);
        @include transition-delay(0ms);
      }
      span {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
      }
      &:hover {
        color: $brand-primary;
        .img-placeholder {
          top: 25px;
        }
      }
    }
  }
  .toggle-lang {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 200;
    a {
      color: #ffffff;
      font-size: 1em;
      text-transform: uppercase;
      &:hover {
        border-bottom: 1px solid $brand-primary;
      }
    }
  }
}

#home-entreprise {
  padding-bottom: 0px;
  padding-top: 0px;
  h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    &.bounce-down {
      @include transition-delay(1250ms);
    }
  }
  .sous-titre {
    margin-bottom: 25px;
    //@include transition-delay(250ms);
    &.bounce-down {
      @include transition-delay(1000ms);
    }
  }
  .more-link-wrapper {
    //@include transition-delay(500ms);
    &.bounce-down {
      @include transition-delay(750ms);
    }
    margin-top: 50px;
    margin-bottom: 54px
  }
  .entreprise-stats {
    text-align: center;
    img {
      margin-right: 45px;
      @include transition-delay(1000ms);
      &.bounce-down {
        @include transition-delay(250ms);
      }
      &:first-child {
        @include transition-delay(750ms);
        &.bounce-down {
          @include transition-delay(500ms);
        }
      }
      &:last-child {
        margin-right: 0;
        @include transition-delay(1250ms);
        &.bounce-down {
          @include transition-delay(0ms);
        }
      }
    }
  }
}

#home-services {
  background-color: #f4f4f4;
  overflow: hidden;
  padding: 60px 0;
  .services-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    @include transition(all 1s);
    li {
      display: inline-block;
      width: 20%;
      height: 156px;
      text-align: center;
      a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        .img-placeholder {
          position: absolute;
          width: 120px;
          height: 120px;
          left: 50%;
          margin-left: -60px;
          background-image: url('#{$imagesPath}services.png');
          background-repeat: no-repeat;
        }
        &.idea {
          .img-placeholder {
            background-position: 0 -2px;
          }
        }
        &.concept {
          .img-placeholder {
            background-position: 25% -2px;
          }
        }
        &.product {
          .img-placeholder {
            background-position: 50% -2px;
          }
        }
        &.renovation {
          .img-placeholder {
            background-position: 75% -2px;
          }
        }
        &.install {
          .img-placeholder {
            background-position: 100% -2px;
          }
        }
        span {
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          color: #000000;
        }
      }
    }
  }
  .more-link {
    margin-top: 30px;
  }
}

#home-products {
  overflow-x: hidden;
  padding: 60px 0 15px;
  h3 {
    margin-top: 0;
    margin-bottom: 60px;
  }
  .full-width {
    .products {
      overflow: hidden;
      @include opacity(0);
      @include transition(all 1s);  
      &.prod-cuisine {
        padding-left: 0;
        padding-right: 10px;
        @include translate(-100%, 0px);
        cursor: pointer;
      }
      &.prod-bain {
        padding-left: 10px;
        padding-right: 0;
        @include translate(100%, 0px);
        cursor: pointer;
      }
      &.prod-in {
        @include opacity(1);
        @include translate(0px, 0px);
      }
      img {
        width: 100%;
        height: auto;
      }
      .product-wrapper {
        position: relative;
      }
      .prod-text-wrapper {
        position: absolute;
        width: 215px;
        height: 56px;
        left: 50%;
        top: 50%;
        margin-left: -107px;
        margin-top: -28px;
        background-image: url('#{$imagesPath}white-trans-bg.png');
        h4 {
          line-height: 56px;
          margin: 0;
          padding: 0;
        }
      }
      .gallery-link {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        @include opacity(0);
        background-image: url('#{$imagesPath}gallery-link-bg.png');
        background-repeat: repeat;
        @include transition(all 500ms);
      }
      &:hover {
        .gallery-link {
          @include opacity(1);
        }
        .prod-text-wrapper {
          @include box-shadow(0px 0px 35px 0 rgba(50, 50, 50, 0.75));
        }
      }
    }
  }
}

#home-garantie {
  background-color: #f4f4f4;
    background-image: url('#{$imagesPath}home-garantie-bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 120px 0;
    h4, p {
      text-align: left;
    }
    .bottomed-lined {
    margin-left: -200%;
    width: 100%;
    //@include opacity(0);
  }
}
@media (min-width:$screen-sm) and (max-width: $screen-sm-max) {
  #home-products {
    .full-width {
      .products {
        &.prod-cuisine {
          padding-right: 0;
          margin-bottom: 20px;
        }
        &.prod-bain {
          padding-left: 0;
        }
      }
    }
  }
  #home-garantie {
    background-image: none;
  }
}
@media (max-width: $screen-xs-max) {
  #home-intro {
    .home-logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 33%;
      img {
        width: 100%;
        height: auto;
      }
    }
    h1 {
      font-size: 16px;
      &.ready {
        margin-top: 0;
      }
    }
    h2 {
      font-size: 30px;
      margin: 50px 0 0;
      &.ready {
        margin-top: 80px;
      }
    }
    h3 {
      font-size: 16px;
    }
    .menu-video {
      display: none;
    }
  }
  #home-entreprise {
    .entreprise-stats {
      img {
        width: 30%;
        height: auto;
        margin-right: 2%;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  #home-services {
    .services-menu {
      li {
        width: 18%;
        margin-right: 2%;
        &:last-child {
          margin-right: 0;
        }
        a {
          .img-placeholder {
            width: 100%;
            left: 0;
            margin-left: 0;
            background-size: 500% auto;
          }
          span {
            font-size: 10px;
          }
        }
      }
    }
  }
  #home-products {
    .full-width {
      .products {
        &.prod-cuisine {
          padding-right: 0;
          margin-bottom: 20px;
        }
        &.prod-bain {
          padding-left: 0;
        }
      }
    }
  }
  #home-garantie {
    background-image: none;
  }
}
.mobile {
  #home-intro {
    .video-placeholder {
      display: block;
    }
    video {
      display: none;
    }
  }
}
// Internet Explorer 8 patches
.lt-ie9 {
  #home-intro {
    .video-placeholder {
      display: block;
    }
    video {
      display: none;
    }
    h2 {
      margin-top: 20%;
      @include opacity(1);
    }
    h1 {
      margin-top: 0;
    }
    .menu-video {
      top: 60%;
    }
  }
  
}