/* 
    Created on : 30-Apr-2014, 1:13:10 PM
    Author     : enrique
*/
@import "bootstrap/mixins";
@import "bootstrap/variables";
@import "five-variables";
a,
a:hover,
a:focus {
  outline: none;
}
html { 
  overflow-x: hidden;
}
body {
  overflow: hidden;
}
h5 {
  font-family: $cvBold;
}
h5, 
h6 {
  margin-bottom: 20px;
}
.big-title {
  font-size: 50px;
}
.hr-green-200 {
  border-top: 3px solid $brand-primary;;
  width: 200px;
}
.fade-down-60 {
  opacity: 0;
  @include translate(0px, -60px);
}
.fade-down-100 {
  opacity: 0;
  @include translate(0px, -100px);
}
.fade-up {
  opacity: 1;
  @include translate(0px, 0);
}
.bounce-trans {
  @include transition(all 1000ms cubic-bezier(0.475, -0.600, 0.540, 1.590));
}
.bounce-down {
  opacity: 0;
  @include scale(0.5);
}
.bounce-up {
  opacity: 1;
  @include scale(1);
}
.first-section {
  padding-top: $menu-height-tall;
}
.inner-shadow {
  @include box-shadow(inset 0px 0px 70px 0 rgba(50, 50, 50, 0.75));
}
.aligned-right {
  text-align: right;
}
.navbar-fixed-top {
  height: $menu-height;
  @include box-shadow(0px 6px 5px 0px rgba(50, 50, 50, 0.28));
  background-color: transparent;
  background-image: url('#{$imagesPath}menu-bg.png');
  background-repeat: repeat-x;
  border: none;
  @include transition(all, 0.5s);
  .navbar-brand {
    position: absolute;
    top: 0;
    height: 0;
    padding: 0;
    height: $menu-height;
    img {
      height: $menu-height;
      width: auto;
      @include transition(all, 0.5s);
    }
  }
  .navbar-toggle {
    margin-top: 15px;
  }
  .icon-wrapper {
    position: absolute;
    right: 44px;
    top: 18px;
    height: 29px;
    @include transition(all 0.5s);
    .icon-button {
      position: absolute;
      top: 0;
      a {
        width: 29px;
        height: 29px;
        display: block;
        @include hide-text();
      }
    }
    .quote-btn {
      display: none;
      right: 29px * 2 + 12px * 2;
      a {
        background-image: url('#{$imagesPath}icon2.png');
      }
    }
    .contact-btn {
      display: none;
      right: 29px + 12px;
      a {
        background-image: url('#{$imagesPath}icon1.png');
      }
    }
    .facebook-btn {
      right: 0;
      a {
        background-image: url('#{$imagesPath}icon3.png');
      }
    }
    @media screen and (max-width: 768px) {
      right: 75px;
      top: 15px;
      a {
        width: 18px;
        height: 18px;
        background-size: 100% 100%;
      }
    }
  }
  .navbar-collapse {
    ul {
      @include transition(all, 0.5s);
      list-style: none;
      float: right;
      margin: 25px 0 0;
      padding: 0;
      li {
        vertical-align: middle;
        a {
          line-height: 1em;
          color: #ffffff;
          font-size: 14px;
          text-transform: uppercase;
          padding: 0 0 5px;
          margin: 0 15px;
          &::after {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 2px;
            background: $brand-primary;
            content: '';
            @include opacity(0);
            @include transition(all 0.3s);
            @include translate(0, 10px);
          }
          &:focus,
          &:hover {
            background-color: transparent;
            &::after {
              @include opacity(1);
              @include translate(0, 0);
            }
          }
        }
        &.active {
          a {
            background-color: transparent;
            &::after {
              @include opacity(1);
              @include translate(0, 0);
            }
          }
          &:hover {
            a {
              background-color: transparent;
            }
          }
        }
      }
      &.btn-wrapper {
        margin-left: 30px;
        margin-top: 18px;
        li {
          float: left;
          .yellow-bg {
            position: relative;
            height: 29px;
            color: #000000;
            padding: 8px 20px 7px 38px;
            margin: 0 8px 0 7px;
            &:focus,
            &:hover {
              background-color: $brand-primary;
              &::after {
                @include opacity(0);
                @include translate(0, 0);
              }
            }
            &.phone{
              //font-family: $cvBold;
              &::before {
                position: absolute;
                top: 0;
                left: 6px;
                background:url('#{$imagesPath}icon1.png') no-repeat center;
                content: " ";
                display: inline-block;
                height: 29px;
                width: 29px;
              }
            }
            &.pencil::before {
              position: absolute;
              top: 0;
              left: 6px;
              background:url('#{$imagesPath}icon2.png') no-repeat center;
              content: " ";
              display: inline-block;
              height: 29px;
              width: 29px;
              margin-bottom: 0;
              margin-right: 0;
            }
          }
        }
      }
      @media screen and (max-width: $screen-tablet) {
        width: 100%;
        margin-top: 0;
        background-color: #ffffff;
        &.btn-wrapper {
          margin-top: 3px;
          li {
            .yellow-bg {
              width: 100%;
              margin: 0;
            }
          }
        }
        li {
          width: 100%;
          background-color: #000000;
          margin-bottom: 1px;
          a {
            line-height: 2em;
            margin: 0;
            padding: 5px 20px;
          }
          &:last-child {
            margin-bottom: 0;
          }
          &.active a {
            border: none;
            color: $brand-primary;
          }
          &:hover,
          &:hover a,
          &.active:hover a {
            border: none;
            background-color: $brand-primary;
            color: #000000;
          }
        }
        &.nav {
          margin-right: 0 !important;
        }
      }
    }
  }
  &.tall-menu {
    height: $menu-height-tall;
    .navbar-brand {
      position: absolute;
      top: 0;
      height: 0;
      padding: 0;
      height: $menu-height-tall;
      img {
        height: $menu-height-tall;
        width: auto;
      }
    }
    .icon-wrapper {
      top: 33px;
      @media screen and (max-width: 768px) {
        top: 15px;
      }
    }
    .navbar-collapse {
      ul {
        margin: 40px 0 0;
        li {
          a {
            padding: 0 0 10px;
          }
        }
        &.btn-wrapper {
          margin-left: 30px;
          margin-top: 33px;
          li {
            float: left;
          }
        }
        @media screen and (max-width: $screen-tablet) {
          margin-top: 0;
          &.btn-wrapper {
            margin-top: 3px;
          }
          &.nav {
            margin-right: 0 !important;
          }
        }
        
      }
    }
  }
  .toggle-lang {
    position: absolute;
    right: 12px;
    top: 8px;
    a {
      color: #ffffff;
      font-size: 12px;
      text-transform: uppercase;
      &:hover {
        border-bottom: 1px solid $brand-primary;
      }
    }
    @media screen and (max-width: 768px) {
      right: 206px;
      top: 20px;
    }
  }
}
.image-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  height: 100%;
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
  @media screen and (max-width: $container-tablet) {
    position: static;
    width: 100%;
    height: 320px;
  }
}
.more-link {
  font-weight: bold;
  font-size: ceil(($font-size-base * 0.901));
  color: #000000;
  position: relative;
  display: block;
  &:after {
    content: url('#{$imagesPath}know-more.png');
    position: absolute;
    margin-left: 10px;
    top: -7px;
  }
  &:hover {
    color: $brand-primary;
  }
}
.more-link-gray {
  font-weight: bold;
  font-size: $font-size-base;
  color: #000000;
  position: relative;
  display: block;
  &:after {
    content: url('#{$imagesPath}know-more-gray.png');
    position: absolute;
    margin-left: 10px;
    top: 0;
  }
  &:hover {
    color: $brand-primary;
  }
}
.more-link-wrapper {
  margin-bottom: 50px;
}
.bottomed-lined {
  padding-bottom: 25px;
  border-bottom: 1px solid #a1a1a1;
}
.vertical-space-15 {
  padding: 15px 0;
}
.green-bulleted {
  list-style-image: url('#{$imagesPath}green-bullet.png');
  padding: 0;
  li {
    padding-left: 7px;
    margin-left: 16px;
  }
}
#garantie-section {
  margin-top: 0;
  background-color: #403e3c;
  padding: 40px 20px;
  .row {
    > div {
      margin: 0;
      padding: 0 20px;
      > div {
        img.bg-garantie {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .garantie-wrapper {
    position: relative;
  }
  .garantie-content {
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 20px;
  }
  .garantie {
    .garantie-wrapper {
      .garantie-over {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        @include opacity(0);
        @include transition(all 1s);
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
      &:hover {
        .garantie-over {
          @include opacity(1);
        }
      }
    }
  }
  .logirenov {
    .garantie-wrapper {
      .logirenov-over {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        @include opacity(0);
        @include transition(all 1s);
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        a {
          position: absolute;
          width: 100%;
          height: 30%;
          left: 0;
          bottom: 0;
          z-index: 100;
        }
      }
      &:hover {
        .logirenov-over {
          @include opacity(1);
        }
      }
    }
  }
  .financing {
    .garantie-wrapper {
      .garantie-content {
        .title {
          color: #ffffff;
          font-family: $cvLight;
          font-size: 43px;
          width: 100%;
          text-align: left;
          line-height: 1em;
        }
        li {
          font-family: $cvReg;
          font-size: 16px;
          color: #ffffff;
          text-align: left;
          line-height: 1.2em;
        }
        .link {
          font-family: $cvLight;
          font-size: 14px;
          text-align: left;
          line-height: 1em;
          margin-left: 20px;
        }
      }
    }
  }
}

#contact-header {
  padding: 28px 0 0;
  h2 {
    text-align: center;
  }
  .row-list-succursales {
    margin-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    > div {
      padding-left: 15px;
      padding-right: 15px;
    }
    p {
      margin-left: 0;
      &.head-text {
        text-transform: uppercase;
        //font-weight: bold;
        padding: 7px 0;
        border-bottom: 4px solid $brand-primary;
        color: #222222;
      }
    }
    .liste-succursales {
      list-style: none;
      padding-left: 0;
      li {
        margin-bottom: 5px;
        a {
          margin-top: 4px;
          color: #000000;
          outline: none;
          position: relative;
          &:hover {
            color: $brand-primary;
            text-decoration: underline;
          }
          &.selected {
            text-decoration: underline;
            &:before {
              position: absolute;
              left: -20px;
              content: url('#{$imagesPath}png-pin-yellow.png');
            }
          }
        }
      }
    }
  }
}

#contact-forms {
  padding: 0 0 45px;
  background-color: #f4f4f4;
  h2 {
    text-align: center;
  }
  h4,
  h5 {
    text-align: left;
  }
  h4 {
    margin-bottom: 20px;
  }
  h5 {
    font-family: $cvLight;
  }
  p {
    text-align: left;
    &.planif-notice {
      font-size: 18px;
      margin-bottom:1.5em;
    }
  }
  .form-choices {
    > div {
      padding-left: 3px;
      padding-right: 3px;
      &:first-child {
        padding-left: 15px;
      }
      &:last-child {
        padding-right: 15px;
      }
      .btn {
        border: none;
        border-radius: 0;
        background-image: none;
        padding: 10px 0;
        text-shadow: none;
        text-transform: uppercase;
        &:focus {
          outline: none;
        }
        &.btn-default {
          background-color: #dedede;
          &:hover {
            background-color: #c7c7c7;
          }
        }
        &.btn-success {
          background-color: $brand-primary;
          color: #333;
          &:hover {
            background-color: $brand-primary;
          }
        }
      }
    }
  }
  .form-row {
    margin-bottom: 15px;
  }
  .form-first-row {
    clear: both;
    padding-top: 20px;
  }
  .yellow-bg {
    display: block;
    margin: 0 auto;
    width: 320px;
  }
  .address{
    .yellow-bg {
      display: inline-block;
      margin-bottom: 7px;
      width: auto;
      &:hover {
        color: #818181;
        text-decoration: none;
      }
    }
  }
  form {
    button[type="button"] {
      &.btn-submit {
        background-color: $brand-primary;
        background-image: none;
        color: #333;
        display: block;
        text-transform: uppercase;
        border: none;
        border-radius: 0;
        text-shadow: none;
        @include box-shadow(none);
        width: 320px;
        height: 40px;
        padding: 0;
        line-height: 40px;
        margin: 0 auto;
      }
      &:hover {
        background-color: #c7c7c7;
      }
    }
    textarea {
      resize: none;
      border: 1px solid #b1b1b1;
      border-radius: 0;
      color: #000000;
      font-size: ceil(($font-size-base * 1.125));
      height: ceil(($font-size-base * 10));
      width: 100%;
      padding: 15px;
      background-color: transparent;
      outline: none;
      &.has-error {
        border: 1px solid red;
      }
    }
    input[type="text"] {
      width: 100%;
      font-size: ceil(($font-size-base * 1.125));
      padding: 2px 0 10px;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #000000;
      background: transparent;
      color: #000000;
      outline: none;
      &.has-error {
        border-bottom: 1px solid red;
      }
    }
    input[type="checkbox"],
    input[type="radio"] {
      display: none;
      + label {
        font-weight: normal;
        font-size: ceil(($font-size-base * 0.9375));
        margin-right: 35px;
        span {
          display:inline-block;
          width:26px;
          height:24px;
          margin:-10px 2px 0 0;
          vertical-align: middle;
          background-image:url('#{$imagesPath}checkbox.png');
          background-position: 0 0;
          background-repeat: no-repeat;
          cursor:pointer;
        }
      }
      &:checked {
        + label {
          span {
            background-position: -26px 0;
          }
        }
      }
    }
    .form-group {
      margin-bottom: 0;
    }
  }
  .contact-form {
    display: none;
    padding-bottom: 80px;
  }
  #carte-wrapper {
    margin-bottom: 50px;
    width: 100%;
    height: 400px;
    .gm-style-iw {
      h1 {
        font-family: $cvLight;
        text-align: left;
      }
    }
  }
}

.yellow-bg {
  background-color: $brand-primary;
  color: #000000;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 6px 10px 5px;
  text-decoration: none;
}
.icon {
  display: inline-block;
  float: left;
  height: 29px;
  margin-right: 6px;
  width: 25px;
  &.telephone {
    background:url('#{$imagesPath}ico-phone.png') no-repeat center;
  }
  &.fax {
    background:url('#{$imagesPath}ico-fax.png') no-repeat center;
  }
  &.itinerary {
    background:url('#{$imagesPath}png-pin-dark.png') no-repeat center;
  }
}

.dk_container {
  width: 100%;
  background-color: transparent;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 18px;
  &:focus {
    outline: none;
  }
  a {
    cursor: pointer;
    text-decoration: none;
  }
}

// Opens the dropdown and holds the menu label
.dk_toggle {
  width: 100% !important;
  border: 1px solid #ccc;
  color: #333;
  padding: 7px 45px 7px 10px;
  -webkit-transition: border-color .5s;
  -moz-transition: border-color .5s;
  -o-transition: border-color .5s;
  transition: border-color .5s;
  position: relative;
  &:hover, &:focus {
    border-color: #8c8c8c;
  }
  &:after{
    position: absolute;
    top: 45%;
    right: 10px;
    content: '';
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4B4B4B;
  }
  &:focus {
    outline: none;
  }
}

// Applied whenever the dropdown is open
.dk_open {
  z-index: 10;
  .dk_toggle {
    background-color: #ececec;
    border-color: #8c8c8c;
    color: #ccc;
  }
}

//* The outer container of the options
.dk_options {
  background: #fefefe; // Removes transparent background on iOS5+ scroll
  a {
    background-color: #FFF;
    color: #101010;
    border-bottom: 1px solid #999;
    font-weight: bold;
    padding: 8px 10px;
    &:hover, &:focus {
      color: $brand-primary;
      text-decoration: none;
      background-color: #101010;
      border-bottom-color: #004c72;
    }
  }
  &:hover,
  &:focus,
  .dk_option_current a {
    background-color: #101010;
    border-bottom-color: #004c72;
    color: $brand-primary;
    text-decoration: none;
  }
  li:last-child a {
    border-bottom: none;
  }
  .disabled {
    cursor: default;
    a {
      color: #aaa;
    }
    &:hover, &:hover a
    &:focus, &:focus a {
      cursor: default;
      background-color: #fff;
      border-bottom-color: #999;
      text-shadow: none;
    }
  }
}
// Inner container for options, this is what makes the scrollbar possible.
.dk_options_inner {
  max-height: 250px;
  border: 1px solid #8c8c8e;
  border-bottom-width: 2px;
  border-bottom-color: #999;
  color: #333;
  text-shadow: #fff 0 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

//******  End Theme ******

//***** Critical to the continued enjoyment of working dropdowns ******

.dk_container {
  display: none;
  float: left;
  a {
    outline: 0;
  }
}

.dk_toggle {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
}

.dk_open {
  position: relative;
  .dk_options {
    display: block;
  }
  .dk_label {
    color: inherit;
  }
}

.dk_options {
  display: none;
  margin-top: -1px;
  position: absolute;
  right: 0;
  width: 100%;
  a, a:link, a:visited{
    display: block;
  }
}

.dk_options_inner {
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}


// Hides only dropkick <select> instances
.dk_container select {
  position: absolute;
  top: -99999em;
  visibility: hidden;
}

//  nativeMobile override 
.dk_mobile {
  position: relative;
  select {
    display: block;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    visibility: visible;
    opacity: 0;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
  }
}
.has-error {
  .dk_toggle {
    border-color: red;
  }
}
#carte-wrapper {
  .note {
    font-style: italic;
    font-weight: bold;
  }
  .hours,
  .address {
    float: left;
    text-align: left;
    width: 50%;
    p {
      text-align: left;
    }
    a {
      color: #818181;
      text-decoration: underline;
      &:hover {
        color: $brand-primary;
      }
    }
  }
}
#footer {
  height: 35px;
  width: 100%;
  background-color: #514f4d;
  color: #ffffff;
  .footer-logo {
    float: left;
    height: 35px;
    margin: 0 10px 0 0;
    img {
      height: 100%;
      width: auto;
    }
  }
  .footer-menu {
    float: left;
    ul {
      margin: 12px 25px 0;;
      padding: 0;
      li {
        float: left;
        list-style: none;
        font-family: $cvLight;
        font-size: 12px;
        text-transform: uppercase;
        margin-left: 5px;
        a {
          color: #ffffff;
          &:after {
            content: '|';
            margin-left: 5px;
          }
          &:hover {
            color: $brand-primary;
          }
        }
      }
    }
  }
}

@media (max-width: 1310px) {
  .navbar-fixed-top {
    .navbar-collapse {
      ul {
        li {
          a{
            margin: 0 7px; 
          }
        }
        &.btn-wrapper {
          margin-left: 15px;
          margin-right: 102px;
        }
      }
      
    }
    &.tall-menu {
      .navbar-collapse {
        ul {
          li {
            a{
              margin: 0 7px; 
            }
          }
          &.btn-wrapper {
            margin-left: 15px;
            margin-right: 102px;
          }
        }
      }
    }
  }  
  .btn-wrapper {
    li{
      &:first-child{
        display: none;
      }
    }
  }
  .navbar-fixed-top .icon-wrapper {
    .quote-btn {
      display: block;
      right: 29px + 12px;
    }
  }
}
@media (max-width: 1078px) {
  .navbar-fixed-top {
    .navbar-collapse {
      ul {
        &.btn-wrapper {
          display: none;
        }
        &.nav {
          margin-right: 150px;
        }
      }
      
    }
    &.tall-menu {
      .navbar-collapse {
        ul {
          &.btn-wrapper {
            display: none;
          }
          &.nav {
            margin-right: 150px;
          }
        }
      }
    }
  }  
  .btn-wrapper {
    li{
      &:first-child{
        display: none;
      }
    }
  }
  .navbar-fixed-top .icon-wrapper {
    .quote-btn {
      display: block;
      right: 29px * 2 + 12px * 2;
    }
    .contact-btn {
      display: block;
      right: 29px + 12px;
    }
  }
}
@media (min-width:769px) and (max-width: $screen-sm-max) {
  .navbar-fixed-top {
    &.tall-menu {
      height: $menu-height;
      .navbar-brand {
        position: absolute;
        top: 0;
        height: 0;
        padding: 0;
        height: $menu-height;
        img {
          height: $menu-height;
          width: auto;
        }
      }
      .navbar-collapse {
        ul {
          margin: 25px 0 0;
          li {
            a {
              padding: 0 0 5px;
            }
          }
        }
      }
      .icon-wrapper {
        top: 15px;
      }
    }
  }
}
@media (max-width: 770px) {
  .aligned-right {
    text-align: center;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 24px;
  }
  h5 {
    font-size: 20px;
  }
  p {
    font-size: 13px;
  }
  .big-title {
    font-size: 36px;
  }
  .navbar-fixed-top {
    &.tall-menu {
      height: $menu-height;
      .navbar-brand {
        position: absolute;
        top: 0;
        height: 0;
        padding: 0;
        height: $menu-height;
        img {
          height: $menu-height;
          width: auto;
        }
      }
      ul {
        margin: 40px 0 0;
        li {
          a {
            padding: 0 0 10px;
          }
        }
      }
    }
  }
  #garantie-section {
    margin-top: 30px;
    background-color: #403e3c;
    padding: 20px 20px;
    .row {
      > div {
        margin: 0;
        padding: 20px 20px;
        > div {
          img.bg-garantie {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
  #contact-header {
    padding: 28px 10px 0;
    .row-list-succursales {
      > div {
        padding: 0;
        margin-bottom: 5px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
      p {
        text-align: center;
        margin-left: 0;
      }
      .liste-succursales {
        margin-bottom: 15px;
        padding-left: 0;
        li {
          text-align: center;
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
  #contact-forms {
    padding: 0 10px 45px;
    .form-choices {
      > div {
        //padding: 0;
        margin-bottom: 5px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
    p {
      text-align: left;
    }
    form {
      .form-row {
        margin-bottom: 0;
      }
      input[type="text"] {
        margin-bottom: 10px;
      }
      input[type="checkbox"],
      input[type="radio"] {
        display: none;
        + label {
          font-weight: normal;
          font-size: ceil(($font-size-base * 0.9375));
          margin-right: 35px;
          span {
            display:inline-block;
            width:26px;
            height:24px;
            margin:-10px 2px 0 0;
            vertical-align: middle;
            background-image:url('#{$imagesPath}checkbox.png');
            background-position: 0 0;
            background-repeat: no-repeat;
            cursor:pointer;
          }
        }
        &:checked {
          + label {
            span {
              background-position: -26px 0;
            }
          }
        }
      }
      .form-group {
        margin-bottom: 0;
      }
    }
    .contact-form {
      display: none;
      padding-bottom: 80px;
    }
    #carte-wrapper {
      width: 100%;
      height: 400px;
      .gm-style-iw {
        h2 {
          font-family: $cvLight;
          font-size: 24px;
          text-align: left;
          border-bottom: 1px solid $brand-primary;
        }
      }
    }
  }
}
.mobile {
  overflow: hidden;
}
.lt-ie9 {
  .navbar-fixed-top {
    .navbar-collapse {
      &.in{
        overflow-y:visible
      }
      ul {
        li {
          a {
            &:focus,
            &:hover {
              border-bottom: 2px solid $brand-primary;
            }
          }
          &.active {
            a {
              border-bottom: 2px solid $brand-primary;
            }
          }
        }
      }
    }
  }
  #garantie-section {
    .garantie {
      .garantie-wrapper {
        .garantie-over {
          @include opacity(1);
          display: none;
        }
        &:hover {
          .garantie-over {
            display: block;
          }
        }
      }
    }
    .logirenov {
      .garantie-wrapper {
        .logirenov-over {
          @include opacity(1);
          display: none;
          a {
            z-index: 100;
          }
        }
        &:hover {
          .logirenov-over {
            display: block;
          }
        }
      }
    }
  }
}
.tooltip {
  left: -160px !important;
}

@media screen and (max-width: 400px) {
  .navbar-fixed-top {
    .icon-wrapper {
      .quote-btn, .contact-btn {
        display: none;
      }
    }
    .toggle-lang {
      right: 118px;
    }
  }
  
}

// Wrapper for the tooltip content
.tooltip-inner {
  width: 200px;
  max-width: 200px;
  padding: 12px;
  color: #000000;
  text-align: left;
  background-color: #ffffff;
  border-radius: 0;
}

// Arrows
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip {
  &.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: #ffffff;
  }
  &.top-left .tooltip-arrow {
    bottom: 0;
    left: $tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: #ffffff;
  }
  &.top-right .tooltip-arrow {
    bottom: 0;
    right: $tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    border-top-color: #ffffff;
  }
  &.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
    border-right-color: #ffffff;
  }
  &.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -$tooltip-arrow-width;
    border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-left-color: #ffffff;
  }
  &.bottom .tooltip-arrow {
    top: 0;
    left: 88%;
    margin-left: -$tooltip-arrow-width;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-bottom-color: #ffffff;
  }
  &.bottom-left .tooltip-arrow {
    top: 0;
    left: $tooltip-arrow-width;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-bottom-color: #ffffff;
  }
  &.bottom-right .tooltip-arrow {
    top: 0;
    right: $tooltip-arrow-width;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    border-bottom-color: #ffffff;
  }
}