/* 
    Created on : 09-December-2014, 11:19:47 PM
    Author     : Sébastien Mockle
*/

@import "salledebain.scss";


.realisations {
  #header-section {
    padding-bottom: 0;
    .header-1 {
      background-image: url('../img/realisations_header.jpg');
      margin-bottom: 0 !important;
    }
  }
  #portfolio-section {
    #portfolio-filters{
      background: #343331;
      margin: 127px 16px 21px;
      padding: 11px 37px;
      .form-centered {
        float: none;
        margin: 0 auto;
        width: 520px;
      }
      p{
        margin: 0;
      }
      div {
        float: left;
      }
      .filters-title {
        color: #FFF;
        font-family: $cvSemiBold;
      }
      label {
        color: #b6b6b6;
        margin: 0 11px 0 21px;
      }
      .dk_container {
        margin: 0;
        width: 145px;
        .dk_toggle {
          border-color: #c1b72a;
          color: $brand-primary;
          padding: 0px 10px;
          text-align: center;
          &:after{
            border-top: 5px solid $brand-primary;
          }
        }
        &.dk_open {
          .dk_toggle {
            background: #000;
          }
        }
      }
      @media screen and (max-width: $screen-phone) {
        .form-centered {
          width: 100%;
           > div {
            width: 100%;
          }
          label, select {
            width: 100%;
          }
          label {
            margin: 5px 0 0;
          }
        }
        .filters-title {
          width: 100%;
          display: block;
        }
       
      }
    }
    .portfolio-grid {
      .portfolio-cell {
        background-size: cover;
        background-position: center center;
        -ms-behavior: url(/backgroundsize.min.htc);
        //border-bottom: 12px solid #FFFFFF;
        /*&:nth-child(3n-1) {
          border-left: 12px solid #FFFFFF;
          border-right: 12px solid #FFFFFF;
        }*/
      }
        
      > div {
        padding: 0;
        margin: 0 1% 12px 0;
        width: 98 / 3 * 1%;
        @media screen and (min-width: $screen-tablet + 1) {
          &:nth-child(3n+3) {
            margin-right: 0;
          }
        }
        img {
          width: 100%;
        }
        .gallery-link {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          @include opacity(0);
          background-image: url('../img/gallery-link-bg.png');
          background-repeat: repeat;
          @include transition(all 1200ms);
          a {
            display: block;
            width: 100%;
            height: 100%;
            background-image: url('../img/more-gallery.png');
            background-repeat: no-repeat;
            background-position: center center;
            -ms-behavior: url(/backgroundsize.min.htc);
            p {
              position: absolute;
              bottom: 50%;
              width: 100%;
              margin-bottom: 26px;
              font-family: $headings-font-family;
              font-size: 32px;
              text-align: center;
              text-transform: uppercase;
              color: #818181;
            }
            img {
              display: none;
            }
          }
        }
        &:hover {
          .gallery-link {
            @include opacity(1);
          }
        }
        @media screen and (max-width: $screen-tablet) {
          width: 49%;
          margin: 0 1%;
          &:nth-child(odd) {
            margin-left: 0;
          }
          &:nth-child(even) {
            margin-right: 0;
          }
        }
        @media screen and (max-width: $screen-phone) {
          width: 48%;
          margin: 0 2%;
          &:nth-child(odd) {
            margin-left: 0;
          }
          &:nth-child(even) {
            margin-right: 0;
          }
        }
      }
    }
    .add-more-block {
      background: #343331;
      margin: 30px 0 85px;
      padding: 11px 37px;
      text-align: center;
      .add-more {
        border: 1px solid $brand-primary;
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        padding: 4px 118px;
        &:after {
          background: url('../img/arrow-down.png') center no-repeat;
          content: ' ';
          display: inline-block;
          height: 11px;
          margin-left: 14px;
          width: 17px;
        }
        &:hover {
          background:$brand-primary;
          color: #343331;
          &:after {
            background: url('../img/arrow-down-hover.png') center no-repeat;
          }
        }
        
      }
      @media screen and (max-width: $screen-phone) {
        margin: 20px 0;
        .add-more {
          padding: 4px 38px;
          display: block;
        }
      }
    }
  }
  #warranty-section {
    .warranty {
      .image-holder {
        background-image: url('../img/sb-garantie-en.jpg');
      }
    }
  }
  &.fr {
    #warranty-section {
      .warranty {
        .image-holder {
          background-image: url('../img/sb-garantie-fr.jpg');
        }
      }
    }
  }
}
@media (max-width: $screen-xs-max) {
  .salledebain {
    #ideas-section {
      .ideas {
        .image-holder {
          left: 0;
          width: 100%;
        }
      }
    }
    
  }
}

//@media screen and (max-width: $screen-tablet) {
  #pbThumbsToggler:checked ~ .pbWrapper {
    padding: 0;
  }
//}