/* 
    Created on : 15-May-2014, 10:32:16 AM
    Author     : enrique
*/
@import "bootstrap/mixins";
@import "bootstrap/variables";
@import "five-variables";

.services {
  #service-intro {
    position: relative;
    background-color: #f2f2f2;
    padding-bottom: 55px;
    .full-width {
      width: 100%;
      position: absolute;
      height: 100%;
      margin-top: -$menu-height-tall;
      .image-section {
        width: 40%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url('../img/services-intro.jpg');
        background-size: cover;
        background-position: center center;   
        -ms-behavior: url(/backgroundsize.min.htc);
      }
      @media screen and ( max-width: $container-tablet ) {
        margin-top: 0;
        position: static;
        width: 100%;
        height: 320px;
        .image-section {
          position: static;
          width: 100%;
          height: 320px;
        }
      }
    }
    .service-intro-text {
      padding: 80px 40px;
      @media screen and ( max-width: $container-tablet ) {
        text-align: center;
      }
    }
    h1 {
      margin-top: 100px;
      margin-bottom: 20px;
    }
  }
  #service-step-1 {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 75px;
    .padded40 {
      padding: 0 40px;
    }
    .step-1-image {
      margin-top: 60px;
    }
  }
  #service-step-2 {
    text-align: center;
    padding-top: 70px;
    background-color: #f2f2f2;
    padding-bottom: 75px;
    .step2-1 {
      h2 {
        margin-top: 50px;
      }
    }
    .step2-2 {
      h2 {
        margin-top: 60px;
      }
    }
    .padded40 {
      padding: 0 40px;
    }
  }
  #service-step-3 {
    text-align: center;
    padding-top: 70px;
    background-color: #f2f2f2;
    padding-bottom: 165px;
    h2 {
      margin-top: 40px;
    }
    .renovation {
      list-style: none;
      margin: 25px auto 0;
      padding: 0;
      width: 75%;
      li {
        display: inline-block;
        width: 20%;
        > div {
          height: 122px;
          width: 118px;
          margin: 0 auto;
          background-image: url('../img/reno-icons.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          &.plombage {
            background-position: 25% 0; //-158px 0;
          }
          &.peinture {
            background-position: 50% 0; //-316px 0;
          }
          &.fixtures {
            background-position: 75% 0; //-474px 0;
          }
          &.electricite {
            background-position: 100% 0; //-632px 0;
          }
        }
      }
    }
  }
  #service-step-4 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 75px;
    position: relative;
    h2, h5, p {
      text-align: right;
      @media screen and ( max-width: $container-tablet ) {
        text-align: center;
      }
    }
    .padded40 {
      padding: 0 40px;
    }
    .full-width {
      width: 100%;
      position: absolute;
      height: 100%;
      top:0;
      .image-section {
        position: absolute;
        width: 48%;
        height: 100%;
        right: 0;
        top: 0;
        background-image: url('../img/reno-section.jpg');
        background-size: cover;
        background-position: right center;
        -ms-behavior: url(/backgroundsize.min.htc);
      }
      @media screen and ( max-width: $container-tablet ) {
        position: static;
        width: 100%;
        height: 320px;
        .image-section {
          position: static;
          width: 100%;
          height: 320px;
        }
      }
    }
    .boya {
      position: absolute;
      width: 1px;
      height: 1px;
      left: 50%;
      bottom: $menu-height;
    }
  }
  #service-step-5 {
    text-align: center;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    .plan-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-image: url('../img/plan-rendered.jpg');
      background-size: cover;
      background-position: center center;
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/plan-rendered.jpg', sizingMethod='scale');
      -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/plan-rendered.jpg', sizingMethod='scale')";
      .wireframe-wrapper {
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        .p-wireframe {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-repeat: no-repeat;
          background-image: url('../img/plan-wireframe.jpg');
          background-size: cover;
          background-position: center center;
          filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/plan-wireframe.jpg', sizingMethod='scale');
          -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/plan-wireframe.jpg', sizingMethod='scale')";
        }
      }
    }
    /*.plan-rendered {
      position: absolute;
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      background-image: url('../img/plan-rendered.jpg');
      background-size: cover;
      background-position: center center;
    }*/
    .green-h1 {
      margin-bottom: 50px;
    }
    .white-text-box {
      padding: 60px;
      background: url('../img/fond-boite-blanc.png') repeat;
      p {
        text-align: justify;
      }
    }
  }
  #service-done {
    padding: 90px 0;
    text-align: center;
  }
  #service-end {
    text-align: center;
    padding: 250px 0;
    background-repeat: no-repeat;
    background-image: url('../img/plan-final.jpg');
    background-size: cover;
    background-position: center center;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/plan-final.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/plan-final.jpg', sizingMethod='scale')";
    .white-text-box {
      padding: 75px 50px;
      background: url('../img/fond-boite-blanc.png') repeat;
      p {
        text-align: justify;
      }
    }
  }
}
@media (max-width: $screen-sm-max) {
  .services {
    #service-step-3 {
      .renovation {
        li {
          display: block;
          float: left;
          width: 20%;
          .img-placeholder {
            width: 100%;
            background-size: 500% auto;
          }
        }
      }
    }
  }
}
@media (max-width: $screen-xs-max) {
  .services {
    #service-step-1 {
      .step-1-image {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    #service-step-3 {
      .renovation {
        li {
          display: block;
          float: left;
          width: 20%;
          .img-placeholder {
            width: 100%;
            background-size: 500% auto;
          }
        }
      }
    }
    #service-step-5 {
      .white-text-box {
        padding: 15px;
      }
    }
    #service-end {
      .white-text-box {
        padding: 15px;
      }
    }
  }
}
