/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/bin/
/composer.phar
/bin/
*.DS_Store*
*.sublime-project
*.sublime-workspace
*.DS_Store
*.DS_Store?
._*
.Spotlight-V100
.Trashes
*.psd
*.PSD
.rsync_cache
/logs/
/logs/*
*.lock
/_DEV/*
/nbproject/*
*.jpg
*.jpeg
*.png
*~
/app/config/parameters.yml
