                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <h3 class="five-openclose-header"><i class="fa  icon-coverflow"></i> Cover Picture <span class="fa icon-five-openclose" data-original-title="Click to expand/close" data-toggle="tooltip" title=""></span></h3>
                                                                <hr />                                                                
                                                            </div>
                                                        </div>
                                                        <div class="row five-openclose-content">
                                                            <div class="col-sm-6">
                                                                {% set coverPic = '/bundles/fiveadmin/img/no-image.png' %}
                                                                {% for pic in pictures %}
                                                                    {% set coverPic = ( ( pic.cover in [ true, 1, 'true' ] ) ? pic.src : coverPic ) %}
                                                                {% endfor %}                                                                
                                                                <img src="{{ gallery.getCover() | raw }}" class="img-thumbnail cover_picture" />
                                                            </div>
                                                            <div class="col-sm-6">
                                                                
                                                            </div>                                                            
                                                        </div>