{% extends 'FiveAdminBundle::layout.html.twig' %}

{% form_theme form _self %}


{% block content %}

    <div class="box box-info">
        <div class="box-header">
            <h3 class="box-title">User details</h3>
        </div>
        <div class="box-body">
            {{ form( form, { 'action' : path( form_action.path, form_action.parameters ) } ) }}
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

{% endblock %}