{% set currentRoute  = app.request.get("_route") %}
{% set currentLocale = app.request.getLocale()  %}
{% set reverseLocale = (app.request.getLocale() == "en") ? "fr" : "en" %}
{% set reverseRoute  = currentRoute | replace({ ('_' ~ currentLocale): ('_' ~ reverseLocale) }) %}
{% set assets_path   = 'bundles/fivecuisinesverdun/'  %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js{% if is_mobile()  %} mobile{% endif %}">
<!--<![endif]-->
  <head>
{% block headMeta %}
    
  {% include 'FiveCuisinesVerdunBundle:Partials:head-meta.html.twig' %}
    <!-- Facebook Metadata : move for inheritance feature-->
    <title>{% block title %}{{ 'page_title' | trans({}, page) }}{% endblock %} | Cuisines Verdun</title>
    <meta property="og:image" content="{% block og_image %}{#{ "http://" ~ app.request.host ~ asset( assets_path ~ 'images/icon_200x200.jpg' ) }#}{% endblock %}" />
    <meta property="og:description" content="{% block og_description %}{#{ 'facebook.general.description' | trans( {}, 'social' ) }#}{% endblock %}"/>
    <meta property="og:title" content="{% block og_title %}{#{ 'facebook.general.title' | trans( {}, 'social' ) }#}{% endblock %}"/>
    <meta property="og:url" content="{% block og_url %}{#{ absolute_url | raw }#}{% endblock %}"/>

{% endblock %}


    <!-- [ STYLESHEETS ] start > -->
{% block stylesheets %}

  {% include 'FiveCuisinesVerdunBundle:Partials:stylesheets.html.twig' %}

{% endblock %}
    <!-- [ STYLESHEETS ] end | -->
    <script src="{{ asset( assets_path ~ 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js' )}}"></script>
    
         <!-- [ FOOTER ] end | -->
        <script>var language = "{{ currentLocale }}";</script>
        <!-- [ SCRIPTS ] start > -->
        {% block javascripts %}

          {% include 'FiveCuisinesVerdunBundle:Partials:scripts.html.twig' %}

        {% endblock %}
        <!-- [ SCRIPTS ] end | -->   
    
  </head>
{% block bodyTag %}
  <body>
{% endblock %}
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- [ Body Content ] start > -->
    {% block bodyContent %}

        {% block header %}

            {% include 'FiveCuisinesVerdunBundle:Partials:header.html.twig' %}

        {% endblock %}

        {% block content %}{% endblock %}

        <!-- [ Garantie ] start > -->
        {% block garantie %}
          {% if page != 'contact' and page != 'blog' and page != 'blog_article'  %}
            {% include 'FiveCuisinesVerdunBundle:Partials:garantie.html.twig' %}
          {% endif %}
        {% endblock %}

		<!-- [ Blog ] start > -->
		{% block blog %} 

			{% if page == 'home' %}
				{{ render(controller('BloggerBlogBundle:Page:homeBlog', {'limit': 2} )) }}
			{% endif %}
		{% endblock %}			
		
		 
        <!-- [ Contact ] start > -->
        {% block contact %}
            {#{% if page != 'blog' and page != 'blog_article'  %}
               {% include 'FiveCuisinesVerdunBundle:Partials:contact.html.twig' %}
            {% endif %}#} 
            {% include 'FiveCuisinesVerdunBundle:Partials:contact.html.twig' %}
        {% endblock %}
        <!-- [ FOOTER ] end | -->

        <!-- [ FOOTER ] start > -->
        {% block footer %}

            {% include 'FiveCuisinesVerdunBundle:Partials:footer.html.twig' %}

        {% endblock %}


    {% endblock %}
    <!-- [ BODY CONTENT ] end | -->
  </body>
</html>
