<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.get( '_locale' ) }}" lang="{{ app.request.get( '_locale' ) }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Cuisines Verdun</title>

        <style type="text/css">
            html, body, a, p, span{
                font-family: Arial;
                color: #333333;
                font-size: 15px;
                background-color: #ffffff;
                font-weight: normal;
            }
        </style>

    </head>
    <body style="margin : 0 auto; padding : 0px; font: 15px Arial; background-color:#ffffff; color:#333333; width:690px;">
        <!-- Table -->
        <table cellpadding="0" cellspacing="0" border="0" width="690" style="margin:0 auto;">
            <!-- Entête -->
            <tr>
                <td width="690" height="66" colspan="3"><img src="http://{{ app.request.host }}/bundles/fivecuisinesverdun/img/email/header.confirmation.png" /></td>
            </tr>
            <!-- corps -->
            <tr>
                <td width="25" height="100%">&nbsp;</td>
                <td width="640" height="100%">
                <table border="0" cellspacing="0" cellpadding="0" width="640" height="100%">
                    <tbody>
                        <tr>
                            <td colspan="2" height="40">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" height="40">
                                <font style="color:#000;font-weight:bold;font-size:22px;">Hello!</font>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="background:none; border:solid 1px #333333; border-width:1px 0 0 0; height:1px; width:100%; margin:0px 0px 0px 0px; padding: 0 0 0 0;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" height="40">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">Thank you for allowing us to bid on your project.</td>
                        </tr>
                        <tr>
                            <td colspan="2" height="40">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2">One of our representatives will contact you shortly to schedule an appointment with you to better understand your project and prepare your quote.</td>
                        </tr>
                        <tr>
                            <td colspan="2" height="40">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="background:none; border:solid 1px #333333; border-width:1px 0 0 0; height:1px; width:100%; margin:0px 0px 0px 0px; padding: 0 0 0 0;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2" height="40">
                                <font style="color:#000;font-weight:bold;font-size:22px;">Thank you,</font>&nbsp;&nbsp;<font style="font-weight:bold;font-size:22px;">The Cuisines Verdun team</font>
                            </td>
                        </tr>
                    </tbody>
                </table>

                </td>
                <td width="25" height="100%">&nbsp;</td>
            </tr>
        </table>
        <!-- fin de table -->
    </body>
</html>
