/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-Apr-2014, 1:13:10 PM
    Author     : enrique
*/
.navbar-fixed-top {
  display: none; }

#home-intro video {
  width: 100%;
  height: auto; }
