/*
font-family:'Proxima N W01 Reg';
font-family:'Proxima N W01 Bold';
font-family:'Proxima N W01 Light';
font-family:'Proxima N W01 Reg It';
font-family:'Proxima N W01 Bold It';
*/


  
  .blog #blog-article-intro .float-block {
    float: left;
    margin-top: 70px; }
  .blog #blog-article-intro h2 {
    font-size: 36px;
    padding: 40px 45px;
    margin: 70px 40px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 35px 0 rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 35px 0 rgba(50, 50, 50, 0.75);
    text-transform: uppercase; 
    }
    
    .blog #blog-article-intro h2 .green-text {
      color: #ffef00; }

@media (max-width: 767px) {
  .contact #contact-intro h2 {
    font-size: 32px;
    padding: 25px; } }
