@charset "UTF-8";
/* 
    Created on : 09-December-2014, 11:19:47 PM
    Author     : Sébastien Mockle
*/
/* 
    Created on : 15-May-2014, 2:17:47 PM
    Author     : enrique
*/
/* 
    Created on : 15-May-2014, 11:51:14 AM
    Author     : enrique
*/
/*
font-family:'Proxima N W01 Reg';
font-family:'Proxima N W01 Bold';
font-family:'Proxima N W01 Light';
font-family:'Proxima N W01 Reg It';
font-family:'Proxima N W01 Bold It';
*/
.salledebain #header-section,
.cuisine #header-section,
.realisations #header-section {
  padding-top: 60px;
  padding-bottom: 20px; }
  .salledebain #header-section > div,
  .cuisine #header-section > div,
  .realisations #header-section > div {
    background-color: #ffffff;
    margin-bottom: 0; }
    .salledebain #header-section > div:first-child,
    .cuisine #header-section > div:first-child,
    .realisations #header-section > div:first-child {
      margin-bottom: 20px; }
  .salledebain #header-section .float-block,
  .cuisine #header-section .float-block,
  .realisations #header-section .float-block {
    float: right;
    margin-top: 70px; }
  .salledebain #header-section h2,
  .cuisine #header-section h2,
  .realisations #header-section h2 {
    margin-top: 80px; }
  .salledebain #header-section .header-1,
  .cuisine #header-section .header-1,
  .realisations #header-section .header-1 {
    width: 100%;
    height: 440px;
    background-image: url("../img/cuisine-1.jpg");
    background-size: cover;
    background-position: center center;
    -ms-behavior: url(/backgroundsize.min.htc); }
    .salledebain #header-section .header-1 h1,
    .cuisine #header-section .header-1 h1,
    .realisations #header-section .header-1 h1 {
      font-size: 36px;
      padding: 40px 45px;
      margin: 70px 40px;
      background-color: #ffffff;
      -webkit-box-shadow: 0px 0px 35px 0 rgba(50, 50, 50, 0.75);
      box-shadow: 0px 0px 35px 0 rgba(50, 50, 50, 0.75);
      text-transform: uppercase; }
      .salledebain #header-section .header-1 h1 .green-text,
      .cuisine #header-section .header-1 h1 .green-text,
      .realisations #header-section .header-1 h1 .green-text {
        color: #c1b72a; }
  .salledebain #header-section .header-2,
  .cuisine #header-section .header-2,
  .realisations #header-section .header-2 {
    position: relative;
    width: 100%;
    min-height: 420px; }
    .salledebain #header-section .header-2 .image-holder,
    .cuisine #header-section .header-2 .image-holder,
    .realisations #header-section .header-2 .image-holder {
      left: 0;
      background-image: url("../img/cuisine-2.jpg"); }
    .salledebain #header-section .header-2 div,
    .cuisine #header-section .header-2 div,
    .realisations #header-section .header-2 div {
      height: 100%;
      /*@media screen and ( max-width: $container-tablet ) {
        height: 320px;
      }*/ }
    @media screen and (max-width: 750px) {
      .salledebain #header-section .header-2,
      .cuisine #header-section .header-2,
      .realisations #header-section .header-2 {
        text-align: center; } }
  .salledebain #header-section .header-3,
  .cuisine #header-section .header-3,
  .realisations #header-section .header-3 {
    position: relative;
    width: 100%;
    min-height: 420px; }
    .salledebain #header-section .header-3 .image-holder,
    .cuisine #header-section .header-3 .image-holder,
    .realisations #header-section .header-3 .image-holder {
      left: 60%;
      background-image: url("../img/cuisine-3.jpg"); }
    .salledebain #header-section .header-3 h2,
    .cuisine #header-section .header-3 h2,
    .realisations #header-section .header-3 h2 {
      margin-top: 100px; }
    @media screen and (max-width: 750px) {
      .salledebain #header-section .header-3,
      .cuisine #header-section .header-3,
      .realisations #header-section .header-3 {
        text-align: center; }
        .salledebain #header-section .header-3 p:last-child,
        .cuisine #header-section .header-3 p:last-child,
        .realisations #header-section .header-3 p:last-child {
          margin-bottom: 60px; } }
.salledebain #materials-section,
.cuisine #materials-section,
.realisations #materials-section {
  padding: 60px 0 20px;
  text-align: center; }
  .salledebain #materials-section .btn,
  .cuisine #materials-section .btn,
  .realisations #materials-section .btn {
    margin-top: 25px;
    padding-right: 30px;
    padding-left: 30px; }
  .salledebain #materials-section .mat-grid,
  .cuisine #materials-section .mat-grid,
  .realisations #materials-section .mat-grid {
    margin-top: 75px; }
    .salledebain #materials-section .mat-grid .material-cell,
    .cuisine #materials-section .mat-grid .material-cell,
    .realisations #materials-section .mat-grid .material-cell {
      background-size: cover;
      background-position: center center;
      -ms-behavior: url(/backgroundsize.min.htc);
      overflow: hidden; }
      .salledebain #materials-section .mat-grid .material-cell.material-cell-31,
      .cuisine #materials-section .mat-grid .material-cell.material-cell-31,
      .realisations #materials-section .mat-grid .material-cell.material-cell-31 {
        background-position: 42% center; }
    .salledebain #materials-section .mat-grid > div,
    .cuisine #materials-section .mat-grid > div,
    .realisations #materials-section .mat-grid > div {
      padding: 0; }
      .salledebain #materials-section .mat-grid > div img,
      .cuisine #materials-section .mat-grid > div img,
      .realisations #materials-section .mat-grid > div img {
        width: 100%; }
      .salledebain #materials-section .mat-grid > div .gallery-link,
      .cuisine #materials-section .mat-grid > div .gallery-link,
      .realisations #materials-section .mat-grid > div .gallery-link {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        filter: alpha(opacity=0);
        background-image: url("../img/gallery-link-bg.png");
        background-repeat: repeat;
        -webkit-transition: all 1200ms;
        transition: all 1200ms; }
        .salledebain #materials-section .mat-grid > div .gallery-link a,
        .cuisine #materials-section .mat-grid > div .gallery-link a,
        .realisations #materials-section .mat-grid > div .gallery-link a {
          display: block;
          width: 100%;
          height: 100%;
          background-image: url("../img/more-gallery.png");
          background-repeat: no-repeat;
          background-position: center center;
          -ms-behavior: url(/backgroundsize.min.htc); }
          .salledebain #materials-section .mat-grid > div .gallery-link a p,
          .cuisine #materials-section .mat-grid > div .gallery-link a p,
          .realisations #materials-section .mat-grid > div .gallery-link a p {
            position: absolute;
            bottom: 50%;
            width: 100%;
            margin-bottom: 26px;
            font-family: "Proxima N W01 Light";
            font-size: 32px;
            text-align: center;
            text-transform: uppercase;
            color: #818181; }
          .salledebain #materials-section .mat-grid > div .gallery-link a img,
          .cuisine #materials-section .mat-grid > div .gallery-link a img,
          .realisations #materials-section .mat-grid > div .gallery-link a img {
            display: none; }
      .salledebain #materials-section .mat-grid > div:hover .gallery-link,
      .cuisine #materials-section .mat-grid > div:hover .gallery-link,
      .realisations #materials-section .mat-grid > div:hover .gallery-link {
        opacity: 1;
        filter: alpha(opacity=100); }
.salledebain #styles-section,
.cuisine #styles-section,
.realisations #styles-section {
  padding: 40px 0;
  text-align: center; }
  .salledebain #styles-section .row,
  .cuisine #styles-section .row,
  .realisations #styles-section .row {
    padding-top: 15px;
    padding-bottom: 15px; }
    .salledebain #styles-section .row > div:first-child,
    .cuisine #styles-section .row > div:first-child,
    .realisations #styles-section .row > div:first-child {
      padding-left: 0; }
    .salledebain #styles-section .row > div:last-child,
    .cuisine #styles-section .row > div:last-child,
    .realisations #styles-section .row > div:last-child {
      padding-right: 0; }
  .salledebain #styles-section .styles-grid .style-image,
  .cuisine #styles-section .styles-grid .style-image,
  .realisations #styles-section .styles-grid .style-image {
    background-size: cover;
    position: relative;
    overflow: hidden; }
    .salledebain #styles-section .styles-grid .style-image .gallery-link,
    .cuisine #styles-section .styles-grid .style-image .gallery-link,
    .realisations #styles-section .styles-grid .style-image .gallery-link {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      filter: alpha(opacity=0);
      background-image: url("../img/gallery-link-bg.png");
      background-repeat: repeat;
      -webkit-transition: all 1200ms;
      transition: all 1200ms; }
      .salledebain #styles-section .styles-grid .style-image .gallery-link a,
      .cuisine #styles-section .styles-grid .style-image .gallery-link a,
      .realisations #styles-section .styles-grid .style-image .gallery-link a {
        display: block;
        width: 100%;
        height: 100%;
        background-image: url("../img/more-gallery.png");
        background-repeat: no-repeat;
        background-position: center center;
        -ms-behavior: url(/backgroundsize.min.htc); }
        .salledebain #styles-section .styles-grid .style-image .gallery-link a p,
        .cuisine #styles-section .styles-grid .style-image .gallery-link a p,
        .realisations #styles-section .styles-grid .style-image .gallery-link a p {
          position: absolute;
          bottom: 50%;
          width: 100%;
          margin-bottom: 26px;
          font-family: "Proxima N W01 Light";
          font-size: 32px;
          text-align: center;
          text-transform: uppercase;
          color: #818181; }
        .salledebain #styles-section .styles-grid .style-image .gallery-link a img,
        .cuisine #styles-section .styles-grid .style-image .gallery-link a img,
        .realisations #styles-section .styles-grid .style-image .gallery-link a img {
          display: none; }
    .salledebain #styles-section .styles-grid .style-image:hover .gallery-link,
    .cuisine #styles-section .styles-grid .style-image:hover .gallery-link,
    .realisations #styles-section .styles-grid .style-image:hover .gallery-link {
      opacity: 1;
      filter: alpha(opacity=100); }
  .salledebain #styles-section .styles-grid .style-1,
  .cuisine #styles-section .styles-grid .style-1,
  .realisations #styles-section .styles-grid .style-1 {
    background-image: url("../img/cuisine-style-1.jpg");
    background-size: auto 120%;
    background-position: 27% 31%;
    background-repeat: no-repeat no-repeat;
    -ms-behavior: url(/backgroundsize.min.htc);
    -webkit-transition: all 1200ms;
    transition: all 1200ms; }
    .salledebain #styles-section .styles-grid .style-1:hover,
    .cuisine #styles-section .styles-grid .style-1:hover,
    .realisations #styles-section .styles-grid .style-1:hover {
      background-size: auto 100%; }
  .salledebain #styles-section .styles-grid .style-2,
  .cuisine #styles-section .styles-grid .style-2,
  .realisations #styles-section .styles-grid .style-2 {
    background-image: url("../img/classique5.jpg");
    background-size: auto 130%;
    background-position: 27% 57%;
    background-repeat: no-repeat no-repeat;
    -ms-behavior: url(/backgroundsize.min.htc);
    -webkit-transition: all 1200ms;
    transition: all 1200ms; }
    .salledebain #styles-section .styles-grid .style-2:hover,
    .cuisine #styles-section .styles-grid .style-2:hover,
    .realisations #styles-section .styles-grid .style-2:hover {
      background-size: auto 110%; }
  .salledebain #styles-section .styles-grid .style-3,
  .cuisine #styles-section .styles-grid .style-3,
  .realisations #styles-section .styles-grid .style-3 {
    background-image: url("../img/cuisine-style-3.jpg");
    background-size: auto 120%;
    background-position: 72% 10%;
    background-repeat: no-repeat no-repeat;
    -ms-behavior: url(/backgroundsize.min.htc);
    -webkit-transition: all 1200ms;
    transition: all 1200ms; }
    .salledebain #styles-section .styles-grid .style-3:hover,
    .cuisine #styles-section .styles-grid .style-3:hover,
    .realisations #styles-section .styles-grid .style-3:hover {
      background-size: auto 100%; }
  .salledebain #styles-section .styles-grid .style-4,
  .cuisine #styles-section .styles-grid .style-4,
  .realisations #styles-section .styles-grid .style-4 {
    background-image: url("../img/cuisine-style-4.jpg");
    background-size: 120% auto;
    background-position: 0 48%;
    background-repeat: no-repeat no-repeat;
    -ms-behavior: url(/backgroundsize.min.htc);
    -webkit-transition: all 1200ms;
    transition: all 1200ms; }
    .salledebain #styles-section .styles-grid .style-4:hover,
    .cuisine #styles-section .styles-grid .style-4:hover,
    .realisations #styles-section .styles-grid .style-4:hover {
      background-size: 100% auto; }
  .salledebain #styles-section .styles-grid .style-5,
  .cuisine #styles-section .styles-grid .style-5,
  .realisations #styles-section .styles-grid .style-5 {
    background-image: url("../img/cuisine-style-5.jpg");
    background-size: auto 120%;
    background-position: 27% 86%;
    background-repeat: no-repeat no-repeat;
    -ms-behavior: url(/backgroundsize.min.htc);
    -webkit-transition: all 1200ms;
    transition: all 1200ms; }
    .salledebain #styles-section .styles-grid .style-5:hover,
    .cuisine #styles-section .styles-grid .style-5:hover,
    .realisations #styles-section .styles-grid .style-5:hover {
      background-size: auto 100%; }
  .salledebain #styles-section .styles-grid .style-6,
  .cuisine #styles-section .styles-grid .style-6,
  .realisations #styles-section .styles-grid .style-6 {
    background-image: url("../img/cuisine-style-6.jpg");
    background-size: auto 120%;
    background-position: 38% 31%;
    background-repeat: no-repeat no-repeat;
    -ms-behavior: url(/backgroundsize.min.htc);
    -webkit-transition: all 1200ms;
    transition: all 1200ms; }
    .salledebain #styles-section .styles-grid .style-6:hover,
    .cuisine #styles-section .styles-grid .style-6:hover,
    .realisations #styles-section .styles-grid .style-6:hover {
      background-size: auto 100%; }
  .salledebain #styles-section .styles-grid .style-7,
  .cuisine #styles-section .styles-grid .style-7,
  .realisations #styles-section .styles-grid .style-7 {
    background-image: url("../img/cuisine-style-7.jpg");
    background-size: 120% auto;
    background-position: 22% 5%;
    background-repeat: no-repeat no-repeat;
    -ms-behavior: url(/backgroundsize.min.htc);
    -webkit-transition: all 1200ms;
    transition: all 1200ms; }
    .salledebain #styles-section .styles-grid .style-7:hover,
    .cuisine #styles-section .styles-grid .style-7:hover,
    .realisations #styles-section .styles-grid .style-7:hover {
      background-size: 100% auto; }
  .salledebain #styles-section .styles-grid .style-8,
  .cuisine #styles-section .styles-grid .style-8,
  .realisations #styles-section .styles-grid .style-8 {
    background-image: url("../img/cuisine-style-7.jpg");
    background-size: 120% auto;
    background-position: 22% 5%;
    background-repeat: no-repeat no-repeat;
    -ms-behavior: url(/backgroundsize.min.htc);
    -webkit-transition: all 1200ms;
    transition: all 1200ms; }
    .salledebain #styles-section .styles-grid .style-8:hover,
    .cuisine #styles-section .styles-grid .style-8:hover,
    .realisations #styles-section .styles-grid .style-8:hover {
      background-size: 100% auto; }
.salledebain #ideas-section,
.cuisine #ideas-section,
.realisations #ideas-section {
  padding: 0; }
  .salledebain #ideas-section .ideas,
  .cuisine #ideas-section .ideas,
  .realisations #ideas-section .ideas {
    position: relative;
    width: 100%;
    min-height: 420px; }
    .salledebain #ideas-section .ideas .image-holder,
    .cuisine #ideas-section .ideas .image-holder,
    .realisations #ideas-section .ideas .image-holder {
      left: 59.5%;
      width: 40.5%;
      background-image: url("../img/cuisine-ideas.jpg"); }
    .salledebain #ideas-section .ideas h2,
    .cuisine #ideas-section .ideas h2,
    .realisations #ideas-section .ideas h2 {
      margin-top: 80px; }
  @media screen and (max-width: 750px) {
    .salledebain #ideas-section,
    .cuisine #ideas-section,
    .realisations #ideas-section {
      text-align: center; }
      .salledebain #ideas-section p:last-child,
      .cuisine #ideas-section p:last-child,
      .realisations #ideas-section p:last-child {
        margin-bottom: 60px; } }
.salledebain #partners-section,
.cuisine #partners-section,
.realisations #partners-section {
  padding: 65px 0;
  background-color: #f3f1ee; }
  .salledebain #partners-section img,
  .cuisine #partners-section img,
  .realisations #partners-section img {
    width: 100%;
    height: auto; }
  .salledebain #partners-section h2,
  .cuisine #partners-section h2,
  .realisations #partners-section h2 {
    margin-top: 43px; }
  @media screen and (max-width: 750px) {
    .salledebain #partners-section,
    .cuisine #partners-section,
    .realisations #partners-section {
      text-align: center; } }
.salledebain #warranty-section .warranty,
.cuisine #warranty-section .warranty,
.realisations #warranty-section .warranty {
  position: relative;
  width: 100%;
  min-height: 420px;
  background-color: #403e3c;
  color: #ffffff; }
  .salledebain #warranty-section .warranty .image-holder,
  .cuisine #warranty-section .warranty .image-holder,
  .realisations #warranty-section .warranty .image-holder {
    left: 0;
    background-size: cover;
    background-image: url("../img/cuisine-garantie-en.jpg");
    -ms-behavior: url(/backgroundsize.min.htc); }
  .salledebain #warranty-section .warranty h2,
  .cuisine #warranty-section .warranty h2,
  .realisations #warranty-section .warranty h2 {
    margin-top: 100px;
    border-bottom: 3px solid #ffef00; }
  .salledebain #warranty-section .warranty strong,
  .cuisine #warranty-section .warranty strong,
  .realisations #warranty-section .warranty strong {
    font-family: "Proxima N W01 Bold";
    font-size: 20px; }
  .salledebain #warranty-section .warranty .more-link,
  .cuisine #warranty-section .warranty .more-link,
  .realisations #warranty-section .warranty .more-link {
    color: #ffef00; }
.salledebain.fr #warranty-section .warranty .image-holder,
.cuisine.fr #warranty-section .warranty .image-holder,
.realisations.fr #warranty-section .warranty .image-holder {
  background-image: url("../img/cuisine-garantie-fr.jpg"); }

#pbOverlay {
  text-align: left;
  top: 60px; }
  #pbOverlay #pbCloseBtn {
    position: absolute;
    top: -48px;
    right: -48px;
    width: 48px;
    height: 48px;
    padding: 0; }
    #pbOverlay #pbCloseBtn:before {
      background-image: url("../img/gallery-icons.png");
      background-position: -96px 0;
      width: 48px;
      height: 48px;
      background-color: transparent;
      content: '';
      border-radius: 0; }
  @media screen and (orientation: portrait) {
    #pbOverlay .prevNext {
      width: 50px;
      display: block; }
      #pbOverlay .prevNext b {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
  #pbOverlay #pbNextBtn {
    z-index: 100; }
    #pbOverlay #pbNextBtn b {
      width: 48px;
      height: 48px; }
      #pbOverlay #pbNextBtn b:after {
        display: inline-block;
        width: 48px;
        height: 48px;
        content: '';
        background-image: url("../img/gallery-icons.png");
        background-position: -48px 0; }
    @media screen and (orientation: portrait) {
      #pbOverlay #pbNextBtn {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transition: none;
        transition: none; }
        #pbOverlay #pbNextBtn:hover {
          -webkit-transition: none;
          transition: none; }
          #pbOverlay #pbNextBtn:hover b {
            -webkit-transition: none;
            transition: none;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0); } }
  #pbOverlay #pbPrevBtn {
    z-index: 100; }
    #pbOverlay #pbPrevBtn b {
      width: 48px;
      height: 48px; }
      #pbOverlay #pbPrevBtn b:before {
        display: inline-block;
        width: 48px;
        height: 48px;
        content: '';
        background-image: url("../img/gallery-icons.png");
        background-position: 0 0; }
    @media screen and (orientation: portrait) {
      #pbOverlay #pbPrevBtn {
        opacity: 1;
        filter: alpha(opacity=100);
        -webkit-transition: none;
        transition: none; }
        #pbOverlay #pbPrevBtn:hover {
          -webkit-transition: none;
          transition: none; }
          #pbOverlay #pbPrevBtn:hover b {
            -webkit-transition: none;
            transition: none;
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            -webkit-transform: translate(0, 0);
            -ms-transform: translate(0, 0);
            transform: translate(0, 0); } }
  #pbOverlay #pbCaption {
    margin-bottom: 0;
    bottom: 0;
    height: 100%;
    background-color: #ffffff;
    right: -280px;
    width: 280px;
    overflow: auto;
    transition: .4s; }
    #pbOverlay #pbCaption .pbCaptionText {
      margin: 60px 17px 30px;
      border-bottom: 1px solid #000000;
      padding: 0; }
      #pbOverlay #pbCaption .pbCaptionText h4 {
        font-size: 20px;
        color: #000000;
        text-shadow: none; }
      #pbOverlay #pbCaption .pbCaptionText p {
        color: #000000;
        text-shadow: none; }
    #pbOverlay #pbCaption label {
      display: none !important; }
    #pbOverlay #pbCaption .pbSocial {
      border-top: 1px solid #a1a1a1;
      margin: 30px 17px;
      padding-top: 25px; }
    #pbOverlay #pbCaption h5 {
      font-size: 20px; }
    @media screen and (orientation: portrait) {
      #pbOverlay #pbCaption {
        width: 100%;
        height: 40%;
        right: 0;
        bottom: -40%; }
        #pbOverlay #pbCaption .pbCaptionText {
          margin: 20px;
          padding: 0; }
          #pbOverlay #pbCaption .pbCaptionText h4 {
            font-size: 14px; }
          #pbOverlay #pbCaption .pbCaptionText p {
            font-size: 11px; } }
  #pbOverlay.show.on #pbCaption {
    right: 0;
    transition-delay: .5s;
    z-index: 20; }
    @media screen and (orientation: portrait) {
      #pbOverlay.show.on #pbCaption {
        bottom: 0; } }
  #pbOverlay.show.on #pbCloseBtn {
    top: 0;
    right: 0; }
  #pbOverlay.show #pbNextBtn {
    right: 280px; }
    @media screen and (orientation: portrait) {
      #pbOverlay.show #pbNextBtn {
        right: 0; } }
  #pbOverlay .pbWrapper {
    -webkit-perspective: 0;
    -moz-perspective: 0;
    perspective: 0;
    text-align: center;
    margin-top: 0px !important; }
    #pbOverlay .pbWrapper > img {
      box-shadow: none;
      max-height: 100%; }
    #pbOverlay .pbWrapper > * {
      border-radius: 0; }
    #pbOverlay .pbWrapper div {
      display: none !important;
      -webkit-transition: none;
      transition: none; }

@media (max-width: 767px) {
  .salledebain #header-section .header-1 h1,
  .cuisine #header-section .header-1 h1 {
    font-size: 20px;
    padding: 30px; }
  .salledebain #ideas-section .ideas .image-holder,
  .cuisine #ideas-section .ideas .image-holder {
    left: 0;
    width: 100%; }
  .salledebain #styles-section,
  .cuisine #styles-section {
    padding-bottom: 22px; }
    .salledebain #styles-section .row,
    .cuisine #styles-section .row {
      padding-top: 3px;
      padding-bottom: 3px; }
      .salledebain #styles-section .row > div,
      .cuisine #styles-section .row > div {
        padding-right: 3px;
        padding-left: 3px; }
        .salledebain #styles-section .row > div:first-child,
        .cuisine #styles-section .row > div:first-child {
          padding-right: 3px;
          padding-left: 0; }
        .salledebain #styles-section .row > div:last-child,
        .cuisine #styles-section .row > div:last-child {
          padding-right: 0;
          padding-left: 3px; }
          .salledebain #styles-section .row > div:last-child:first-child,
          .cuisine #styles-section .row > div:last-child:first-child {
            padding-left: 0; }
  .salledebain #materials-section .mat-grid,
  .cuisine #materials-section .mat-grid {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: -3px;
    padding-right: -3px; }
    .salledebain #materials-section .mat-grid > div,
    .cuisine #materials-section .mat-grid > div {
      margin: 3px; } }
#pbThumbsToggler:checked ~ .pbWrapper {
  padding: 0; }

.salledebain #header-section .header-1 {
  background-image: url("../img/salledebain-1.jpg"); }
.salledebain #header-section .header-2 .image-holder {
  background-image: url("../img/salledebain-2.jpg"); }
.salledebain #header-section .header-3 .image-holder {
  background-image: url("../img/salledebain-3.jpg"); }
@media screen and (max-width: 480px) {
  .salledebain #header-section .header-3 h2 {
    margin-top: 20px; } }
.salledebain #styles-section .styles-grid .style-1 {
  background-image: url("../img/sb-style-1.jpg");
  background-size: auto 120%;
  background-position: 27% 31%; }
.salledebain #styles-section .styles-grid .style-2 {
  background-image: url("../img/sb-style-2.jpg");
  background-size: auto 130%;
  background-position: 27% 57%; }
.salledebain #styles-section .styles-grid .style-3 {
  background-image: url("../img/rustique3.jpg");
  background-size: auto 120%;
  background-position: 72% 10%; }
.salledebain #styles-section .styles-grid .style-4 {
  background-image: url("../img/sb-style-4.jpg");
  background-size: auto 120%;
  background-position: 40% 48%; }
  .salledebain #styles-section .styles-grid .style-4:hover {
    background-size: auto 100%; }
.salledebain #styles-section .styles-grid .style-5 {
  background-image: url("../img/sb-style-5.jpg");
  background-size: 120% auto;
  background-position: 27% 86%; }
  .salledebain #styles-section .styles-grid .style-5:hover {
    background-size: 100% auto; }
.salledebain #styles-section .styles-grid .style-6 {
  background-image: url("../img/sb-style-6.jpg");
  background-size: auto 120%;
  background-position: 38% 31%; }
  .salledebain #styles-section .styles-grid .style-6:hover {
    background-size: auto 100%; }
.salledebain #styles-section .styles-grid .style-7 {
  background-image: url("../img/sb-style-7.jpg");
  background-size: auto 120%;
  background-position: 22% 5%; }
  .salledebain #styles-section .styles-grid .style-7:hover {
    background-size: auto 100%; }
.salledebain #styles-section .styles-grid .style-8 {
  background-image: url("../img/sb-style-8.jpg");
  background-size: auto 120%;
  background-position: 22% 5%; }
  .salledebain #styles-section .styles-grid .style-8:hover {
    background-size: auto 100%; }
.salledebain #ideas-section .ideas .image-holder {
  left: 59.5%;
  width: 40.5%;
  background-size: cover;
  background-image: url("../img/sb-ideas.jpg"); }
.salledebain #warranty-section .warranty .image-holder {
  background-image: url("../img/sb-garantie-en.jpg"); }
.salledebain.fr #warranty-section .warranty .image-holder {
  background-image: url("../img/sb-garantie-fr.jpg"); }

@media (max-width: 767px) {
  .salledebain #ideas-section .ideas .image-holder {
    left: 0;
    width: 100%; } }
#pbThumbsToggler:checked ~ .pbWrapper {
  padding: 0; }

.realisations #header-section {
  padding-bottom: 0; }
  .realisations #header-section .header-1 {
    background-image: url("../img/realisations_header.jpg");
    margin-bottom: 0 !important; }
.realisations #portfolio-section #portfolio-filters {
  background: #343331;
  margin: 127px 16px 21px;
  padding: 11px 37px; }
  .realisations #portfolio-section #portfolio-filters .form-centered {
    float: none;
    margin: 0 auto;
    width: 520px; }
  .realisations #portfolio-section #portfolio-filters p {
    margin: 0; }
  .realisations #portfolio-section #portfolio-filters div {
    float: left; }
  .realisations #portfolio-section #portfolio-filters .filters-title {
    color: #FFF;
    font-family: "Proxima N W01 Smbd"; }
  .realisations #portfolio-section #portfolio-filters label {
    color: #b6b6b6;
    margin: 0 11px 0 21px; }
  .realisations #portfolio-section #portfolio-filters .dk_container {
    margin: 0;
    width: 145px; }
    .realisations #portfolio-section #portfolio-filters .dk_container .dk_toggle {
      border-color: #c1b72a;
      color: #ffef00;
      padding: 0px 10px;
      text-align: center; }
      .realisations #portfolio-section #portfolio-filters .dk_container .dk_toggle:after {
        border-top: 5px solid #ffef00; }
    .realisations #portfolio-section #portfolio-filters .dk_container.dk_open .dk_toggle {
      background: #000; }
  @media screen and (max-width: 480px) {
    .realisations #portfolio-section #portfolio-filters .form-centered {
      width: 100%; }
      .realisations #portfolio-section #portfolio-filters .form-centered > div {
        width: 100%; }
      .realisations #portfolio-section #portfolio-filters .form-centered label, .realisations #portfolio-section #portfolio-filters .form-centered select {
        width: 100%; }
      .realisations #portfolio-section #portfolio-filters .form-centered label {
        margin: 5px 0 0; }
    .realisations #portfolio-section #portfolio-filters .filters-title {
      width: 100%;
      display: block; } }
.realisations #portfolio-section .portfolio-grid .portfolio-cell {
  background-size: cover;
  background-position: center center;
  -ms-behavior: url(/backgroundsize.min.htc);
  /*&:nth-child(3n-1) {
    border-left: 12px solid #FFFFFF;
    border-right: 12px solid #FFFFFF;
  }*/ }
.realisations #portfolio-section .portfolio-grid > div {
  padding: 0;
  margin: 0 1% 12px 0;
  width: 32.66667%; }
  @media screen and (min-width: 769px) {
    .realisations #portfolio-section .portfolio-grid > div:nth-child(3n+3) {
      margin-right: 0; } }
  .realisations #portfolio-section .portfolio-grid > div img {
    width: 100%; }
  .realisations #portfolio-section .portfolio-grid > div .gallery-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    background-image: url("../img/gallery-link-bg.png");
    background-repeat: repeat;
    -webkit-transition: all 1200ms;
    transition: all 1200ms; }
    .realisations #portfolio-section .portfolio-grid > div .gallery-link a {
      display: block;
      width: 100%;
      height: 100%;
      background-image: url("../img/more-gallery.png");
      background-repeat: no-repeat;
      background-position: center center;
      -ms-behavior: url(/backgroundsize.min.htc); }
      .realisations #portfolio-section .portfolio-grid > div .gallery-link a p {
        position: absolute;
        bottom: 50%;
        width: 100%;
        margin-bottom: 26px;
        font-family: "Proxima N W01 Light";
        font-size: 32px;
        text-align: center;
        text-transform: uppercase;
        color: #818181; }
      .realisations #portfolio-section .portfolio-grid > div .gallery-link a img {
        display: none; }
  .realisations #portfolio-section .portfolio-grid > div:hover .gallery-link {
    opacity: 1;
    filter: alpha(opacity=100); }
  @media screen and (max-width: 768px) {
    .realisations #portfolio-section .portfolio-grid > div {
      width: 49%;
      margin: 0 1%; }
      .realisations #portfolio-section .portfolio-grid > div:nth-child(odd) {
        margin-left: 0; }
      .realisations #portfolio-section .portfolio-grid > div:nth-child(even) {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    .realisations #portfolio-section .portfolio-grid > div {
      width: 48%;
      margin: 0 2%; }
      .realisations #portfolio-section .portfolio-grid > div:nth-child(odd) {
        margin-left: 0; }
      .realisations #portfolio-section .portfolio-grid > div:nth-child(even) {
        margin-right: 0; } }
.realisations #portfolio-section .add-more-block {
  background: #343331;
  margin: 30px 0 85px;
  padding: 11px 37px;
  text-align: center; }
  .realisations #portfolio-section .add-more-block .add-more {
    border: 1px solid #ffef00;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 4px 118px; }
    .realisations #portfolio-section .add-more-block .add-more:after {
      background: url("../img/arrow-down.png") center no-repeat;
      content: ' ';
      display: inline-block;
      height: 11px;
      margin-left: 14px;
      width: 17px; }
    .realisations #portfolio-section .add-more-block .add-more:hover {
      background: #ffef00;
      color: #343331; }
      .realisations #portfolio-section .add-more-block .add-more:hover:after {
        background: url("../img/arrow-down-hover.png") center no-repeat; }
  @media screen and (max-width: 480px) {
    .realisations #portfolio-section .add-more-block {
      margin: 20px 0; }
      .realisations #portfolio-section .add-more-block .add-more {
        padding: 4px 38px;
        display: block; } }
.realisations #warranty-section .warranty .image-holder {
  background-image: url("../img/sb-garantie-en.jpg"); }
.realisations.fr #warranty-section .warranty .image-holder {
  background-image: url("../img/sb-garantie-fr.jpg"); }

@media (max-width: 767px) {
  .salledebain #ideas-section .ideas .image-holder {
    left: 0;
    width: 100%; } }
#pbThumbsToggler:checked ~ .pbWrapper {
  padding: 0; }
