{% set type  = app.request.query.get( 'alert_type', false ) %}

{% if type != false %}

    {% set types = [ 'success', 'info', 'warning', 'danger' ] %}
    {% set icons = { 'success' : 'fa fa-check' , 'info' : 'fa fa-info', 'warning' : 'fa fa-warning', 'danger' : 'fa fa-ban' } %}

    {% set type = ( type in types ? type : 'info' ) %}

    <div class="alert alert-{{ type }} alert-dismissable">
        <i class="{{ icons[ type ] }}"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        
        {% if message is defined %}
            {{ message | raw }}
        {% else %}
            <b>Success!</b> Changes has been saved.
        {% endif %}

    </div>

{% endif %}