<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete confirmation</h4>
      </div>
      <div class="modal-body">
        You're about to delete element ID#<span class="delete_action_id"></span>.<br />
        <strong>Do you really want to delete this element?</strong>
      </div>
      <div class="modal-footer">
        
        {# {{ form_start(form) }} #}
        <form id="deleteFormModal" action="" method="post">
            <input type="hidden" name="id" value="">
            <button type="button" class="btn btn-default" data-dismiss="modal">
                <i class="fa fa-reply"></i>
                <span>Cancel</span>
            </button>
            <button type="submit" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
                <span>Yes, delete</span>
            </button>
        </form>
{#           {{ form_rest( form ) }}
        {{ form_end(form) }}      #}   
        
      </div>
    </div>
  </div>
</div>