<!-- data-toggle="modal" data-target="#promotion-modal" -->
<button id="promos-ribbon-btn" type="button" class="btn btn-primary animated promos-ribbon-btn" ></button>

<div id="promotion-modal" class="modal promotion-modal animated"  tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true"></span></button>
            <img src="{{ asset( '/bundles/fivecuisinesverdun/img/promotions/promo_espace_ricardo_avril-mai-2015_' ~ app.request.getLocale() ~ '.jpg' ) }}" class="img-responsive promo" />
        </div>
    </div>
</div>